
   body{ font-family:'Dancing Script',cursive;
 font-size: 1.5rem;
   
font-weight: 400;
background-color: rgba(130, 148, 151, 0.21);}

   
html,body{ height: 100%;}
html{-webkit-text-size-adjust:100% }
*{ 
    margin: 0%;
padding: 0%;
 box-sizing:border-box;
}



/*body{display: grid;
grid:auto-flow min-content/repeat(12,1fr);
margin: 1em;
grid-gap:1em;
box-sizing:border-box;
}*/

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color:rgb(234, 221, 221);
    color: rgb(78, 33, 50);
}
.brand-title{
    font-size: 1.5rem;
    margin: .5rem;
}
.navbar-links ul{margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li{
    list-style: none;
}
.navbar-links li a { 
    text-decoration: none;
    display: block;
    color: rgb(48, 44, 44);
    padding: 1rem;
}
.navbar-links li:hover{ background-color: rgb(252, 249, 252);
transition:500ms ease ;}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}


.toggle-button.bar{
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: black;
}

  @media screen and (max-width:700px) {
    .toggle-button{
        display:flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction:column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links a{
        padding: .5rem 1rem;
    }
    .navbar-links.cative{
        display: flex;
    }
  }


main{display:block;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    box-shadow: 30px 0px 40px rgba(0,0,0,0,1)
    -30px 0px 40px rgba(0,0,0,0,1);
} 
 h1{ font-display:bold;
margin-bottom: 0;
margin-top: 0;}
p{
padding-bottom: 20px;}

.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
     justify-content: center;
    background-color: rgb(78, 33, 50); 

}
.image-bar{
    padding:5px;

}
footer{
    background-color:rgb(78, 33, 50) ;
    color: rgb(234, 221, 221);
    padding: 2.5rem;
    text-align: center;
}

 .company-div{
margin-bottom: 1.875rem;
list-style: none;

 }
 
.location-div{
 margin-bottom: 1.875rem;
}
 
.social-div{
margin-bottom: 1.875rem;
list-style: none;
}
.about-div{
   margin-bottom: 1.875rem;
   list-style: none;
}
.logo-div{
    display: flex;
    justify-content: center;
   list-style: none;
    
}





       
 