*{margin: 0%;}

html,body{height: 100%;}

*container {
    display: grid;
    grid-template-rows: auto-flow min-content;
    grid-template-columns:repeat(12,1fr);
 background-color: rgb(193, 219, 236);
  }

header,footer{
grid-column-start: 1;
grid-column-end: 13;
background-color: rgb(188, 89, 195);
padding: 20px;
}
 aside nav{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

main article{ 
grid-column-start:3;
grid-column-end: 12;
grid-row-start: 2;
grid-row-end: 4;


}
 
* 1stflower,
5thflower{ grid-column-start: 1;
    grid-column-end: 2;
} 
2ndflower,6thflower{grid-column-start:2;
grid-column-end:3;}
* 3rdflower,7thflower{
    grid-column-start: 3;
    grid-column-end: 4;

}


div nav li a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
    color: rgb(31, 28, 31);
    padding: auto;
}

nav a :visited{
    display: inline;
    padding: 0%;
    text-align: center;
}
nav ul li{
    list-style: none;
    display:inline-block ;
 display: flex;
 
}

nav ul li a{
    text-decoration: none;
font-size: 14px;
font-family: Arial;
color: rgb(230, 220, 231);
padding: 0% 20px;
display: flex;}


aside{
    text-align:center ;
    display: flex;
}

       
 